*.ipch
*.opendb
*.opensdf
*.sdf
*.suo
*.user
*.VC.db

/Debug/*
/Release/*
/Setup/Archive/*
/Setup/bin/*
/Setup/Output/*
/WallSwitch/bin/*
/WallSwitch/obj/*
/WallSwitchImgProc/Debug/*
/WallSwitchImgProc/Release/*
/WallSwitchWidgets/bin/*
/WallSwitchWidgets/obj/*
/WidgetInterface/bin/*
/WidgetInterface/obj/*
/WallSwitchSetup/bin/*
/WallSwitchSetup/obj/*
